.mainContainer {
  max-width: 400px;
  margin-top: 50px;
}


.createProject{
  margin-top:5%!important;
}


.project_created{
  display: none;
}

.createBtn{
  background-color: #2196f3;
}

.cancelBtn{
  background-color: #f44336;
}

.investBtn{
  background-color: #2196f3;
}

.title{
  color: #0091ea;
  margin-top:20px;
}
