.mainContainer {
  max-width: 400px;
  margin-top: 50px;
}


.createProject{
  margin-top:5%!important;
}


.project_created{
  display: none;
}

.selectAnotherAccountBtn{
  background-color: #ef6c00;
  margin-right:2%!important;
}

.createProjectBtn{
  background-color: #2e7d32;
  margin-right:2%!important;
}

.listProjectBtn{
  background-color: #4e342e;
  margin-right:2%!important;
}

.listInvestedProjectsBtn{
  background-color: #0091ea;
  margin-right:2%!important;
}
